@page "/ExperienceTimeline"
@inject IJSRuntime JSRuntime

<PageTitle>Experience Timeline - Matías Zozaya</PageTitle>

<section class="p-5" style="height: 100%; overflow-y: scroll;">

	<h1>Experience</h1>

	<div class="d-flex align-items-center">
		<img src="img/svgs/html-5-svgrepo-com.svg" class="mr-2" style="width: 25px;">
		<img src="img/svgs/css-3-svgrepo-com.svg" class="mr-2" style="width: 25px;">
		<img src="img/svgs/js-svgrepo-com.svg" class="mr-2" style="width: 25px;">
		<img src="img/svgs/bootstrap-fill-svgrepo-com.svg" class="mr-2" style="width: 25px;">
		<img src="img/svgs/mdb-svgrepo-com.svg" class="border p-1 mr-2" style="width: 25px;">
		<img src="img/svgs/csharp-svgrepo-com.svg" class="mr-2" style="width: 25px;">
		<img src="img/svgs/dotnet-svgrepo-com.svg" class="border p-1" style="width: 25px;">
	</div>

	<hr class="my-5" />

	<h4 class="mb-3">
		<strong>Ssr. Fullstack .NET Developer</strong><br />
		<span>WealthTechs Inc. - Florida - USA</span><br />
		<span>2022 - 2025</span>
	</h4>

	<p class="text-muted">
		Experienced in developing innovative solutions for a fintech company specializing in custodian data aggregation, normalization, APIs, and integration apps for advisors and fintechs.
	</p>

	<ul class="text-muted">
		<li>
			Backend Development: Expertise in designing, implementing, and maintaining web applications using C#, .NET, and Entity Framework ORM for efficient data migration and mapping
		</li>
		<li>
			Frontend Development: Proficient in creating functional user interfaces with JS frameworks and CSS libraries, including MDBootstrap, Telerik, and Kendo UI.
		</li>
		<li>
			Skilled in Razor Pages, Blazor, REST APIs, OData, and GraphQL.
		</li>
		<li>
			Managed version control with SVN and Git.
		</li>
		<li>
			Experienced in application deployment and CI/CD practices on Microsoft Azure and Azure DevOps.
		</li>
	</ul>

	<p class="text-muted">
		Efficient in both MVC and Microservices/API architectures, contributing to the development of WealthTechs' internal CRM and client-facing web products.
	</p>

	<hr class="my-5" />

	<h4 class="mb-3">
		<strong>Fullstack .NET and Wordpress Developer</strong><br />
		<span>Freelance</span><br />
		<span>2018 - 2022</span>
	</h4>

	<p class="text-muted">
		Development of web applications utilizing C#/.NET and SQL Server technologies for back-end functionality, combined with JavaScript frameworks such as MDBootstrap, Telerik, and Kendo UI for creating responsive and user-friendly front-end interfaces.
	</p>

	<p class="text-muted">
		Additional expertise in WordPress deployment and customization, including plugin integrations, theme modifications, and optimizing websites for performance and user experience.
	</p>

</section>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("setMainContentHeight");
			await JSRuntime.InvokeVoidAsync("addResizeListener");
		}
	}
}