@inherits LayoutComponentBase

<Header />

<main id="main">
    @Body
</main>

<footer id="footer" class="bg-dark p-2 small text-center text-secondary">
    © MatiasZozaya.com.ar - Website made with .NET Blazor WASM & Bootstrap
</footer>